%modal__backdrop {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
%modal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 266px;
    background-color: $semi-dark-navy;
}
%modal__default-title {
    font-size: 40px;
    color: $silver;
    margin-bottom: 41px;
}
%modal__btns {
    color: $dark-navy;
    height: 52px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    transition:
        background-color 250ms,
        transform 50ms,
        box-shadow 50ms;
}

.board__game-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 22px 20px;
    margin-bottom: 19px;
}
.board__square-btn {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 15px;
    background-color: $semi-dark-navy;
    box-shadow: inset 0 -8px 0 0 #10212a;
}
.board__x-icon {
    fill: $light-blue;
}
.board__o-icon {
    fill: $light-yellow;
}

.board__square-wrapper{
    position: relative;
}
.board__icon-outline {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: 
        opacity 150ms,
        transform 150ms;
}
.board__square-btn:hover {
    .board__icon-outline {
        opacity: 1;
        transform: translate(-50%, -50%) scale(100%);
    }
}

.board__square-btn_x-win {
    background-color: $light-blue;
    fill: $dark-navy;
    box-shadow: none;
    .board__x-icon {
        fill: $dark-navy;
    }
}
.board__square-btn_o-win {
    background-color: $light-yellow;
    fill: $dark-navy;
    box-shadow: none;
    .board__o-icon {
        fill: $dark-navy;
    }
}

// Result modal
.board__result-backdrop {
    @extend %modal__backdrop;
    .result__container {
        @extend %modal__container;
        .result__winner-para {
            font-weight: 700;
            font-size: 16px;
            color: $silver;
            margin-bottom: 16px;
        }
        .result__title_x-win,
        .result__title_o-win {
            display: flex;
            align-items: center;
            gap: 27px;
            font-size: 40px;
            margin-bottom: 24px;
        }
        .result__title_tie {
            @extend %modal__default-title;
        }
        .result__title_x-win {
            color: $light-blue;
        }
        .result__title_o-win {
            color: $light-yellow;
        }
        .result__btns-wrapper {
            display: flex;
            gap: 13px;
            .result__quit-btn,
            .result__next-btn {
                @extend %modal__btns;
            }
            .result__quit-btn {
                width: 76px;
                background-color: $silver;
                box-shadow: inset 0 -4px 0 0 #6b8997;
            }
            .result__next-btn {
                width: 146px;
                background-color: $light-yellow;
                box-shadow: inset 0 -4px 0 0 #cc8b13;
            }
            .result__quit-btn:hover {
                background-color: $silver-hover;
            }
            .result__next-btn:hover {
                background-color: $light-yellow-hover;
            }
            .result__quit-btn:active {
                box-shadow: none;
                transform: translateY(4px);
            }
                        .result__quit-btn:active {
                box-shadow: none;
                transform: translateY(4px);
            }
            .result__next-btn:active {
                box-shadow: none;
                transform: translateY(4px);
            }
        }
    }
    
}


// Restart modal 
.board__restart-backdrop {
    @extend %modal__backdrop;

    .restart__container {
        @extend %modal__container;
        .restart__title {
            @extend %modal__default-title;
        }
        .restart__btns-wrapper {
            display: flex;
            gap: 13px;
            .restart__no-btn,
            .restart__yes-btn {
                @extend %modal__btns;
            }
            .restart__no-btn {
                width: 139px;
                background-color: $silver;
                box-shadow: inset 0 -4px 0 0 #6b8997;
            }

            .restart__yes-btn {
                width: 151px;
                background-color: $light-yellow;
                box-shadow: inset 0 -4px 0 0 #cc8b13;
            }

            .restart__no-btn:hover {
                background-color: $silver-hover;
            }

            .restart__yes-btn:hover {
                background-color: $light-yellow-hover;
            }

            .restart__no-btn:active {
                box-shadow: none;
                transform: translateY(4px);
            }

            .restart__no-btn:active {
                box-shadow: none;
                transform: translateY(4px);
            }

            .restart__yes-btn:active {
                box-shadow: none;
                transform: translateY(4px);
            }
        }
    }

}